code/Search_Service_POI/Service References/ServiceReference_textAnalytic/WebService_search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckAdmin1Thai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAdmin1ThaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAdmin1ThaiResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckAdmin1ThaiSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAdmin1Thai" />
  </wsdl:message>
  <wsdl:message name="CheckAdmin1ThaiSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAdmin1ThaiResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_searchSoap">
    <wsdl:operation name="CheckAdmin1Thai">
      <wsdl:input message="tns:CheckAdmin1ThaiSoapIn" />
      <wsdl:output message="tns:CheckAdmin1ThaiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_searchSoap" type="tns:WebService_searchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAdmin1Thai">
      <soap:operation soapAction="http://tempuri.org/CheckAdmin1Thai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_searchSoap12" type="tns:WebService_searchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAdmin1Thai">
      <soap12:operation soapAction="http://tempuri.org/CheckAdmin1Thai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_search">
    <wsdl:port name="WebService_searchSoap" binding="tns:WebService_searchSoap">
      <soap:address location="http://localhost:8059/WebService_search.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_searchSoap12" binding="tns:WebService_searchSoap12">
      <soap12:address location="http://localhost:8059/WebService_search.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>